<!DOCTYPE html>
<html>
  <head>
    <title>家庭保障规划</title>
    <%= csrf_meta_tags %>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" href="/assets/bootstrap.css" id="bscss">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "application","vendor/jquery.anystretch.min", "common", 'data-turbolinks-track': 'reload'%>
  </head>

  <body>
  	<div class="navbar clearfix">
		  <div class="container">
		    <a class="navbar-brand" href="/">家庭保障规划</a>
		    <ul class="nav right">
		        <li><%= link_to "登录","#" %></li>
		        <li><%= link_to "注册","#" %></li>
		    </ul>
		  </div>
		</div>
    <%= yield %>

    <script src="/assets/app.js"></script>
    <script>
	  	$('.home-banner').anystretch();

	    var hideNotice = function(){
	      $(".notice").fadeOut("slow");
	    }

	    setTimeout(hideNotice, 2000);
	  </script>
  </body>
</html>
